div {
 font-size: 30px;
}

@media (min-width: 480px){
  body{
    background-color: #8A2BE2;
    color: #fff;
  }

  div{
    font-size: 60px;
  }
}

@media (min-width: 767px){
  body{
    background-color: #FF7F50;
    color: #A9A9A9;
  }

  div{
    font-size: 60px;
  }
}


@media (min-width: 979px){
  body{
    background-color: #000;
    color: #7FFF00;
  }

  div{
    font-size: 60px;
  }
}
