/* ESTILIZAÇÃO INDEX PAGE */

/* MOBILE FIRST */


body{
    width: 100vw;
    height: 100vh;
}

header{
    width: 100%;
    height: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 1.0625rem 0 27px;
    position: relative;
}

.images__container__header{
    display: flex;
    gap: 0.6875rem;
}

.images__container__header--ellipse{
    width: 0.6875rem;
    height: 0.6875rem;
}

.images__container__header--kenzie{
    width: 7.5rem;
    height: 0.9375rem;
}

header > nav{
    display: none;
    flex-direction: row;
    gap: 0.5rem;
    position: absolute;
    right: 20px;
    top: 60px;
    z-index: 1;
}

.loginBtn--index{
    width: 9.3125rem;
    height: 3rem;
    background-color: var(--white100);
    border: 1px solid var(--blue);
    color: var(--blue);
    font-size: 1.125rem;
    font-weight: 700;
}

.signupBtn--index{
    width: 9.3125rem;
    height: 3rem;
    background-color: var(--blue);
    color: var(--white100);
    font-size: 1.125rem;
    font-weight: 700;
}

.menu__container--index > img{
    width: 1.4375rem;
    height: 0.9375rem;
}

main{
    width: 100%;
    height: 100%;
    padding: 1.4375rem 0.8438rem;
    box-sizing: border-box;
    overflow-x: hidden;   
}

.image__container__main{
    display: none;
}

.image__container__main > img{
    display: flex;
    flex-direction: column;
    grid-area: 50px;
}

.info__container__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.selector__container{
    background-color: var(--blue);
    width: 20.6875rem;
    height: 3.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.selector__container > p{
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--white100);
    cursor: pointer;
}

.selector__container > ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3.25rem;
    background-color: var(--white100);
    width: 100%;
    height: 19rem;
}

.selector__container > ul > li{
    width: 100%;
    height: 90px;
    background-color: var(--white100);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--blue);
    cursor: pointer;
}

.selector__container > ul >li > p{
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.selector__container > img{
    height:30px ;
    width: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.ul__index{
    width: 20.6875rem;
    min-height: 3.25rem;
    display: flex;
    gap: 1.1875rem;
    overflow-x: auto;
}

.ul__index > li{
    min-width: 15.0625rem;
    min-height: 8.375rem;
    padding: 0.8125rem 0 1.875rem 0.9375rem;
    border-bottom: 1px solid #4200FF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.ul__index > li > h2{
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--black100);
}

.ul__index > li > span{
    font-size: 1rem;
    font-weight: 400;
    color: var(--black100);
}

.ul__index > li > p{
    font-size: 1rem;
    font-weight: 400;
    color: #4200FF;
    border: 1px solid #4200FF;
    border-radius: 255px;
    padding: 3px 10px 3px 10px;
    width: fit-content;
}

#hidden{
    display: none;
}

#hiddenBtn{
    display: flex;
}

/* DESKTOP */


@media (min-width: 768.1px){
    body{
        width: 100vw;
        height: 100vh;
    }
    
    header{
        width: 100%;
        height: 3.75rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding: 0 21.5625rem 0;
    }
    
    .images__container__header{
        display: flex;
        gap: 0.6875rem;
    }
    
    .images__container__header--ellipse{
        width: 1rem;
        height: 1.125rem;
    }
    
    .images__container__header--kenzie{
        width: 10.75rem;
        height: 1.375rem;
    }
    
    header > nav{
        display: flex;
        gap: 0.75rem;
        top: auto;
        right: 21.5625rem;
    }
    
    .loginBtn--index{
        width: 9.3125rem;
        height: 3rem;
        background-color: var(--white100);
        border: 1px solid var(--blue);
        color: var(--blue);
        font-size: 1.125rem;
        font-weight: 700;
    }
    
    .signupBtn--index{
        width: 9.3125rem;
        height: 3rem;
        background-color: var(--blue);
        color: var(--white100);
        font-size: 1.125rem;
        font-weight: 700;
    }
    
    .menu__container--index{
        display: none;
    }
    
    .menu__container--index > img{
        width: 1.4375rem;
        height: 0.9375rem;
    }
    
    main{
        width: 100%;
        height: 100%;
        display: flex;
        gap: 3.75rem;
        justify-content: center;
    }
    
    .image__container__main{
        display: flex;
        width: 34.375rem;
        height: 46.4375rem;
    }
    
    .image__container__main > img{
        display: flex;
        flex-direction: column;
        grid-area: 50px;
    }
    
    .info__container__main{
        display: flex;
        flex-direction: column;
        width: 34.375rem;
        height: 46.4375rem;
    }
    
    .selector__container{
        background-color: var(--blue);
        width: 100%;
        min-height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .selector__container >p{
        font-size: 1.125rem;
        font-weight: 400;
        color: var(--white100);
    }
    
    .selector__container > ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 3.25rem;
        background-color: var(--white100);
        width: 100%;
        height: 19rem;
    }
    
    .selector__container > ul > li{
        width: 100%;
        height: 90px;
        background-color: var(--white100);
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--blue);
        cursor: pointer;
    }
    
    .selector__container > ul >li > p{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .selector__container > img{
        height:30px ;
        width: 30px;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }
    
    .ul__index{
        width: 100%;
        min-height: 3.25rem;
        display: flex;
        flex-direction: column;
        gap: 1.1875rem;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .ul__index::-webkit-scrollbar {
        width: 0.375rem;
    }
      
    .ul__index::-webkit-scrollbar-thumb {
        background-color: var(--blue);
        border-radius: 1.25rem;
        border: 3px solid var(--blue);
    }
    
    .ul__index > li{
        min-width: 30.5625rem;
        height: 8.4375rem;
        padding: 0.8125rem 0 1.875rem 0.9375rem;
        border-bottom: 1px solid #4200FF;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #FFFFFF;
    }
    
    .ul__index > li > h2{
        font-size: 1.25rem;
        font-weight: 700;
        color: var(--black100);
    }
    
    .ul__index > li > span{
        font-size: 1rem;
        font-weight: 400;
        color: var(--black100);
    }
    
    .ul__index > li > p{
        font-size: 1rem;
        font-weight: 400;
        color: #4200FF;
        border: 1px solid #4200FF;
        border-radius: 255px;
        padding: 3px 10px 3px 10px;
        width: fit-content;
    }
    
    #hidden{
        display: none;
    }

}