header{
    border-bottom: 2px solid var(--colorBrand1);
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.header_text{
    color: var(--textColor1);
    margin-left: 236px;
    font-size: 35px;
    font-weight: 600;
}

.header_btn{
    width: 291px;
    height: 60px;
    color: var(--grey6);
    border: 1px solid var(--grey6);
    margin-right: 236px;
    background-color: transparent;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
}

.header_btn:hover{
    background-color: var(--colorBrand2);
    border: 1px solid var(--colorBrand2);
    transition: 0.5s;
}