.home-header{
    background-color: var(--grey-1);
    height: 50vh;
}

.blog-section{
    padding: 48px 0;
}

.blog-wrapper{
    display: flex;
    justify-content: space-between;
}

.blog-newsletter{
    height: 300px;
    width: 30%;
    background-color: var(--grey-3);
    border-radius: var(--radius-1);
    position: sticky;
    top: 100px;
}

.blog-posts{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 65%;
}

.blog-post{
    height: 100px;
    background-color: var(--grey-3);
    border-radius: var(--radius-1);
}
